[submodule "stktemplate"]
	path = stktemplate
	url = https://github.com/jakelinebissani/stktemplate.git
[submodule "stkplugin"]
	path = stkplugin
	url = https://github.com/jakelinebissani/stkplugin.git
